<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d5d7b26a-afeb-47f9-abda-6331b195d40e/resourcegroups/checkmate/providers/Microsoft.Web/sites/MySelfLogApi20210102135546</ResourceId>
    <ResourceGroup>checkmate</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://myselflogapi20210102135546.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://myselflogapi20210102135546.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>0b433117-7ae5-4dad-9331-db9af0a3c803</ProjectGuid>
    <MSDeployServiceURL>waws-prod-ln1-045.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MySelfLogApi20210102135546</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MySelfLogApi20210102135546</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>