<?xml version="1.0" encoding="utf-8" ?>

<!-- This config file will be overwritten as deployment time with an environmental specific version -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="./internal.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets async="true">
    <target name="console" 
            xsi:type="console" 
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}" >
    </target>
    <target name="jsonFile"
            xsi:type="File"
            fileName="./myselflog-${date:format=yyyy-MM-dd}.log"
            archiveFileName="./archives/myselflog-{#}.log"
            maxArchiveFiles="5"
            archiveEvery="Day"
            archiveNumbering="Date"
            concurrentWrites="true"
            keepFileOpen="false">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="environment" layout="dev" />
        <attribute name="appName" layout="MySelfLog API" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="callsite" layout="${callsite}" />
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fff}" />
        <attribute name="projectName" layout="DigitalInsuringApi" />
        <attribute name="localIp" layout="${local-ip}" />
        <attribute name="requestIp" layout="${aspnet-request-ip}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="jsonFile" />
  </rules>
</nlog>
